includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/phpstan/phpstan-phpunit/rules.neon


parameters:
	level: max

	paths:
		- %rootDir%/../../../src
		- %rootDir%/../../../tests

	autoload_directories:
		- %rootDir%/../../../src
		- %rootDir%/../../../tests


	fileExtensions:
		- php
